DB_NAME=dbName
DB_HOST=dbHost
SALT=123aski5
TOKEN_KEY=2452sdskdhk55
EMAIL_USER=enter your email (sender email)
EMAIL_PASS=enter ur app password
EMAIL_TOKEN_KEY=545sddskch
cloud_name=sldjmnmslds
api_key=55555s5ds5d5555mmm555sd5sd
api_secret=sdlkjskdsldkkn5sd5s55s