<body dir="rtl"
    style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; direction: rtl; text-align: right;">
    <div
        style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">

        <h1 style="color: #333;">مرحباً {{name}}!</h1>

        <p style="font-size: 16px;">يرجى النقر على الزر أدناه للمتابعة:</p>

        <div style="text-align: center; margin: 30px 0;">
            <a href="{{redirectLink}}" target="_blank"
                style="background-color: #2d89ef; color: #ffffff; text-decoration: none; padding: 12px 24px; border-radius: 5px; font-size: 16px; display: inline-block;">
                متابعة
            </a>
        </div>

        <p style="color: #777;">لحل اي مشكله تواجهك تواصل مع السوبر ادمن</p>
        <p style="color: #777;">إذا لم تطلب هذا الإجراء، يمكنك تجاهل هذا البريد الإلكتروني.</p>
    </div>
</body>